
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="col-12">
    <div class="card shadow ">
        <div class="form-row card-body">

            <div class="form-group col-md-4">
                <label for="firstname">Type Name</label>
                <input type="text" id="TypeName" class="form-control" onkeyup="resetValidationSingle(event)">
                <small id="TypeNameErr" class="text-danger"></small>
            </div>
                                <div class="form-group col-md-4">
                                    <label for="inputLang">Url referer</label>
                                    <input id="UrlReferer" type="text" onchange="" style="color: #000;"  class="form-control"  />
                                    <small class="text-danger" id="UrlRefererErr"></small>
                                </div>
                                 <div class="form-group col-md-4">
                                       <label for="inputLang">Meta Title</label>
                                    <input id="MetaTitle" type="text" onchange="" style="color: #000;"  class="form-control"  />
                                    <small class="text-danger" id="MetaTitleErr"></small>
                               
                                     </div>

                                 <div class="form-group col-md-4">
                                    <label for="inputLang">Meta Description</label>
                                    <input id="MetaInfo" type="text" onchange="" style="color: #000;"  class="form-control"  />
                                    <small class="text-danger" id="MetaInfoErr"></small>
                                </div>

            <div class="form-group col-md-2 text-center p-35">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="active" checked>
                    <label class="custom-control-label" for="active">Active</label>
                </div>
            </div>
            <div class="col-md-1 text-left p-28 ">
                <button onclick="SaveProductType('@Url.Action("AddOrEdit","ProductType")')" type="button" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-md-2 text-left p-28">
                <button type="button" onclick="Clear()" class="btn btn-secondary">Reset</button>
            </div>
            
        </div>
    </div>
</div>
   
      
                      
