@using DataModels.Models
@model ProductType
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
    <link asp-append-version="true" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">


</head>
<div class="col-12">
    <div class="card shadow">

<form class="form-row card-body"  asp-action="AddOrEdit" asp-route-id="@Model.Id" autocomplete="off">

                                 <input type="hidden" asp-for="Id" />
                                <div class="form-group col-md-4">
                                    <label for="firstname">Type Name</label>
                                    <input asp-for="Name" type="text" id="TypeName" class="form-control">
                                    <small id="TypeNameErr" class="text-danger"></small>
                                </div>
                                       <div class="form-group col-md-4">
                                    <label for="inputLang">Url referer</label>
                                    <input id="UrlReferer" asp-for="UrlReferer" type="text" onchange="" style="color: #000;"  class="form-control"  />
                                    <small class="text-danger" id="UrlRefererErr"></small>
                                </div>
                                 <div class="form-group col-md-4">
                                       <label for="inputLang">Meta Title</label>
                                    <input asp-for="MetaTitle" id="MetaTitle" type="text" onchange="" style="color: #000;"  class="form-control"  />
                                    <small class="text-danger" id="MetaTitleErr"></small>
                               
                                     </div>
                                       <div class="form-group col-md-4">
                                    <label for="inputLang">Meta Description</label>
                                    <input id="MetaInfo" asp-for="MetaInfo" type="text" onchange="" style="color: #000;"  class="form-control"  />
                                    <small class="text-danger" id="MetaInfoErr"></small>
                                </div>
                                <div class="form-group col-md-2 text-center p-35">
                                 <div class="custom-control custom-checkbox">
                      <input asp-for="IsActive" type="checkbox" class="custom-control-input" id="active">
                      <label class="custom-control-label" for="active">Active/inActive</label>
                    </div>
                                </div>
                                 <div class="col-md-1 text-left p-28 ">
                                    <button type="button" onclick="return Update(this.form);" class="btn btn-primary">Update</button>
                                </div>
                                 <div class="col-md-2 text-left p-28">
                                    <button type="button" onclick="clearAddOrEditPartial()" class="btn btn-secondary">Reset</button>
                                </div>
                         </form>
                           @section Scripts{
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                <script asp-append-version="true" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

            }
            <script asp-append-version="true" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
              </div>
</div>  